@import url("color-variable.css");
@import url("Navigation.css");

/* css for home page */
.outer-container{
    height: 35.8rem;
    width: 81rem;
    overflow-y: scroll;
}
.headings{
    text-align: center;
}
h1{
    color: var(--white-color);
}
h2{
    color: var(--white-color);
}
.first-section{
    height: 18rem;
    width: 70rem;
    text-align: center;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 9rem;
}
.categories:hover{
    transform: scale(1.1);
}
.cricket-box{
    height: 14rem;
    width: 19rem;
    border-radius: 2rem;
    background: var(--cricket-bg-color)
}
.paragraph{
    height: 2rem;
    width: 14rem;
    margin-top: -0.5rem;
    margin-left: 3rem;
    font-size: 1rem;
    color: var(--white-color);
}
.button{
    margin-top: -0.8rem;
    color: var(--white-color);
}
.fa-unlock{
    position: relative;
    top: -14rem;
    margin-left: -14rem;
    color:var(--white-color);
    cursor: pointer;
    font-size:3rem;
    
}
.fa-lock{
    position: relative;
    top: -14rem;
    margin-left: -15rem;
    color: var(--white-color);
    font-size:2.5rem;
}
.football-box {
    height: 14rem;
    width: 19rem;
    border-radius: 2rem;
    background: var(--football-bg-color);
}
.basketball-box{
    height: 14rem;
    width: 19rem;
    border-radius: 2rem;
    background: var(--basketball-bg-color);
}
/* footer */
.footer-div{
    height: 6rem;
    width:100%;
    position: relative;
    top: 1rem;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 5px 1px var(--gainsboro-color);
}
.social-media{
    display: flex;
    gap: 2rem;
    margin-left: -1rem;
    margin-top: 1rem;
    color: var(--white-color);
} 
h3{
    color: var(--white-color);
}
h4{
    margin-top: -1rem;
    margin-left: 1.8rem;
    color: var(--white-color);
}
.fa{
    color: var(--white-color);
    font-size:1.8rem;

}

