@import url("color-variable.css");
.navigation{
    height: 3.5rem;
    width: 100%;
    border-bottom-left-radius: 1rem;
    box-shadow: 1px 1px 5px 1px var(--gainsboro-color);

}
body{
    overflow-y: hidden;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--black-color);
}
.outer-container::-webkit-scrollbar{
    width: 0.3rem;
}
.outer-container::-webkit-scrollbar-thumb{
    width: 0.2rem;
    background-color:var(--gainsboro-color);
    border-radius: 0.5rem;
}
.quiz-label{
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-top: -2rem;
    color: var(--white-color);
}
ul{
    display: flex;
    justify-content: end;
    margin-top: -1.5rem;
    gap: 2rem;
    margin-right: 3rem;
    font-size:1.5rem;
}
.anchor-link{
    text-decoration: none;
    color:var(--white-color);
}
